################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SharePointBackup/bin/Debug
/SharePointBackup/obj
/SharePointBackup/obj
/SharePointBackup/obj
/SharePointBackup/obj/Debug/CoreCompileInputs.cache
/SharePointBackup/obj/Release/CoreCompileInputs.cache
